* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 60px;
    
}

:root {
    --black:#020403;
    --grey:#eeeaea;
    --white:#FFFFFF;
    --greyoscuro:#646262;  
    --greyvector:#c9bebe; 
    --backgroundicons: rgba(19, 81, 153, 0.658);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body.ligth {
    --black:#e8eee7;
    --grey:#666464;
    --white:#020403;
    --greyoscuro:#201f1f; 
    --greyvector:#272525;
    --backgroundicons: rgba(170, 19, 230, 0.658);
}

.mode {
    z-index: 10101;
    position: fixed;
    width: 60px;
    right: 0;
    margin-top: 60px;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.mode img {
   
    width: 40px;
    text-decoration: none;
    color: var(--white);
    margin-right: 20px;
    background-color: var(--black);
    border-radius: 10px;
    overflow: hidden;   
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--greyoscuro);
    border: solid 2px transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--black);
    border: solid 2px transparent;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    
}

body {
    background-color:rgba(14, 13, 13, 0.863);
    
}

.menu__descktop{
    display: none;
    z-index: 10100;
}

.icon__menu{
    position: relative;
    z-index: 1000;

    display: flex;
    justify-content: start;
}

.icon__menu img {
    margin: 20px;
    border-radius: 12px;
    width: 40px;
    cursor: pointer;
    background-color: #FFFFFF;
    position: fixed;
}

.content__menu {
    background-color:var(--white);
    min-width: 50%;
    height: 100vh;
    position: fixed;
    transition: transform 0.5s;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.active {
    transform: translateX(-300%);
}

.content__menu ul {
    list-style: none; 
} 

.content__menu ul li {
    text-decoration: none;
    margin: 30px 20px;
    text-align: center;
    cursor: pointer;
}

.content__menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
}

.content__menu ul li:hover {
    background-color: rgb(113, 99, 241);
    text-decoration: none;
} 

.container {
    width: 500px; 
    margin: 0 auto;
    background-color: var(--black);
    overflow: hidden;
}

.header img {
    margin-top: 6rem; 
}

.tittle {
    color: var(--white);
    font-size: 2.2rem;
}

.tittle__seccion {
    color: var(--white);
    font-size: 2rem;
}

.subtittle {
    color: var(--grey);
    font-size: 1.5rem;
}

.tittle__animation {
    display: block;
    white-space: nowrap;
    width: 17ch;
    animation: typing 5s steps(17) infinite,
    cursor infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
0% { width: 0;}
25% { width: 25%;}
50% { width: 50%;}
75% { width: 75%;}
100% { width: 100%;}
}

@keyframes cursor {
    50%{border-color: transparent;}
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--grey);
    margin: 0 100px; 
}

.header img {
    border: 2px solid transparent
}

.header img:hover{
    border: 2px solid var(--grey);
    border-radius: 7px;    
}

.info,
.abilities,
.portfolio {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    gap: 1rem;
    margin: 80px 100px;
}

.portfolio__img{
    display: grid;
    gap: 1rem;
    cursor: pointer;
    
}

.img__portfolio {
    border: 3px solid transparent;
}

.img__portfolio:hover {
    border: 2px solid var(--grey);
    
}

.abilities {
    position: relative;
}


.vector {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    opacity: 20%;
    border: 1px solid var(--greyvector);
    margin-left: 200px;
    position: absolute;
}

.vector2 {
    
    
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid var(--greyvector);
    margin: 8px;
}

.vector3 {   
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid var(--greyvector);
    align-self: center;
    margin: 8px;
}

.abilities__img {
    display: grid;
    gap: 2rem;
}

.abilities__img img {
    background-color: var(--backgroundicons);
    border-top-right-radius: 20px;
}

.abilities img {
    justify-self: center;
    cursor: pointer;
}

.icon__header {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}

.icon__header a {
    background-color: var(--backgroundicons);
    border-top-right-radius: 20px;
}

.info p {
    color: var(--grey);
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap: 1rem;
    color: var(--grey);
    margin-top: 2rem
}



.experience h4 {
    color: var(--white);
    font-size: 1.5rem;
}

.experience > h6 {
    grid-column: 2 / 3;
    font-size: 1rem;
}

.experience > h4 {
    grid-column: 2 / 3;
}

.experience h2 {
    grid-column: 1 / 3;
    
}

.contact {
    
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.data__contact {
    display: grid; grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-bottom: 50px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--grey);
    margin: 20px;
}

.data__contact a img {
    background-color: var(--backgroundicons);
    border-top-left-radius: 20px;
    overflow: hidden;
    width: 60px;
}

.data__contact h6 {
    font-size: 1.2rem;
}

.data__contact h4 {
    font-size: 1.5rem;
}

.img__contact {
    margin: 0 auto;
    
}

.code a {
    color: #FFFFFF;
    margin: 10px;
}

@media (min-width: 600px) {
    .icon__menu {
        display: none;
    }

    .container {
        width: 90%;
    } 

    .menu__descktop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); 
        justify-content: space-around;      
        width: 90%;
        background-color: var(--black);
        padding: 1rem;
        position: fixed;
    }

    .menu__descktop a {
        padding: 5px; 
        font-weight: bold;
        margin: 0 auto;
    }

    .menu__descktop a:hover {
        color: var(--grey);
        transform:translateY(0.5rem);
    }

    .menu__descktop a {
        text-decoration: none;
        color: var(--white);
    }

    .menu__descktop a:nth-child(1){
        color: var(--grey);
    }

    .experience {
        text-align: start;
    }

    .experience p {
        margin-left: 12rem;
    }

    .experience h2 {
        text-align: center;
    }

    .abilities__img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .abilities__img :nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .abilities__img :nth-child(5){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .abilities__img :nth-child(5){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .abilities__img :nth-child(7){
        grid-column: 2 / 3;
        grid-row: 3 / 4; 
    }

    .portfolio__img {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .portfolio__img img {
        max-width: 300px;
    }

    .vector {
        width: 400px;
        height: 400px;
        margin-left: 900px;
        
    }

    .vector2 {
        width: 360px;
        height: 360px ;
        margin: 10px;
    }

    .vector3 {
        width: 320px;
        height: 320px ;
        margin: 15px;
    }

    .mode {  
        align-items: center;      
        margin-top: 10px;
        width: 60px;
        gap: 1rem;  
        left: 60px;
    } 
}